# Node dependencies
node_modules/
.yarn/
.yarnrc
.pnp/

# Environment variables
.env*
!.env.EXAMPLE # Keep a sample file for reference

.cache/
.public/
starter/*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log*

# Editor-specific files
.vscode/
.idea/
*.sublime-workspace

# Mac system files
.DS_Store

# Ignore compiled TypeScript files (if applicable)
*.tsbuildinfo

# Prettier and ESLint cache
.prettier_cache/
.eslintcache/

# Ignore local file drafts
file-draft.md

# Netlify cache (if applicable)
.netlify/

# Ignore lock files (optional based on your package manager)
# Uncomment based on preference
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
.env.local